.container{
    padding: 0 70px;
}

.catalog_nav_wrapper{
    display: flex;
    justify-content: center;
    color: #555555;
    padding: 14px 0;
    background-color: #EEE4DA;
}

.catalog_nav_menu{
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;    
}

.catalog_nav_menu li {
    display: inline;
    padding-right: 70px;
  }

.catalog_nav_menu li:hover {
    text-decoration: underline;
}

.catalog_nav_menu li:last-child {
    padding-right: 0;
}

.background{
    background-color: #f5ece3;
}

.catalog_banner_wrapper{
    margin-top: 69px;
}

h2{
    color: #555555;
    font-size: 48px;
    text-align: center;
    margin: 0;
}

.carecosmetics{
    width: 100%;
    padding-top: 38px;
}

.catalog_cards_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.catalog_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-template-rows: auto;
    gap: 25px;   
}

.catalog_card{
    border-radius: 10px;
    max-width: 255px;
    position: relative;
}

.product_name{
    position: absolute;
    bottom: 12px;
    left: 25px;
    font-size: 16px;
    color: #555555;
}

.product_price{
    position: absolute;
    bottom: 12px;
    right: 25px;
    font-size: 16px;
    color: #555555;
}

.product_pict{
    width: 100%;
    border-radius: 20px;
}

.company_promo_wrapper{
    padding: 70px 0;

}
.company_promo{
    display: flex;
}

.company_promo_picture{
    width: 50%;
}

.company_promo_description{
    text-align: start;
    padding-top: 270px;
    padding-left: 110px;
    padding-right: 110px;
}

.company_promo_description_p1{
    font-size: 28px;
    color: #555555;
    font-weight: lighter;
}
.company_promo_description_p2{
    font-size: 18px;
    color: #555555;
}


