header {
  padding: 50px 0;
  background-color: #f5ece3;
}
.header {
  display: flex;
  justify-content: space-around;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #555555;
}
.header_menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_menu li {
  display: inline;
  padding-right: 50px;
}
.header_menu li:last-child {
  padding-right: 0;
}
.header_right {
  display: flex;
}
.header_contacts {
  margin: 0;
  padding-right: 50px;
}
.header_img img:nth-child(2) {
  margin: 0 25px;
}
