.main_carousel_button {
  padding: 10px 20px;
  background: rgba(136, 136, 136, 0.3);
  border-radius: 60px;
}
.carousel-item img {
  width: 100vw;
  max-height: 900px;
}
.carousel-caption {
  max-width: 400px;
  margin: auto;
  margin-bottom: 200px;
}
.carousel-caption h5 {
  font-size: 48px;
  letter-spacing: -0.04em;
  border-bottom: 2px solid #ffffff30;
  position: absolute;
}
.main_product_cards {
  background-color: #f5ece3;
  padding: 70px 0;
}
.main_product_cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}
.main_product_card_arrow_left .main_carousel_button,
.main_product_card_arrow_rigth .main_carousel_button {
  align-self: flex-end;
  height: 40px;
  width: 36px;
  padding: 5px 12px 0 9px;
  margin-bottom: 30px;
  margin-right: 40px;
}
div .main_product_card_arrow_left {
  left: auto;
  right: 0;
  margin-right: 36px;
}
.main_product_card_arrow_left .main_carousel_button {
  border-radius: 10px 0 0 10px;
}
.main_product_card_arrow_rigth .main_carousel_button {
  border-radius: 0 10px 10px 0;
}
.main_product_card_carousel_titile {
  margin-bottom: 43px;
}
.main_product_card_carousel_titile h5 {
  color: #555555;
  border-bottom: none;
}
.product_card {
  position: relative;
  background-color: #eee4da;
  border-radius: 6px;
}
.product_card img {
  display: block;
  margin: auto 0;
}
.product_card h6,
.product_card p {
  position: absolute;
  bottom: 20px;
  margin: 0;
  color: #555555;
}
.product_card h6 {
  left: 25px;
  font-size: 16px;
}
.product_card p {
  right: 25px;
  font-size: 18px;
  line-height: 120%;
}
.main_brand {
  background-color: #f5ece3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #555555;
}
.main_brand img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.main_brand_container {
  padding: 100px;
  box-sizing: content-box;
}
.main_brand_container h3 {
  padding: 67px 0 34px;
  margin: 0;
  font-size: 32px;
  line-height: 150%;
}
.main_brand_text {
  margin: 0;
  padding-bottom: 54px;
  font-size: 18px;
  line-height: 180%;
}
.main_brand_caption {
  display: inline-block;
  line-height: 130%;
}
.main_brand_caption h4 {
  margin: 0;
  font-size: 24px;
}
.main_brand_caption p {
  margin: 0;
  font-size: 13px;
}
.main_brand_container img:last-child {
  position: absolute;
  top: auto;
  margin-left: 35px;
}
@media screen and (max-width: 767px) {
  .carousel_arrow span {
    display: none;
  }
  .carousel-caption {
    max-width: 300px;
  }
  .carousel-caption h5 {
    font-size: 36px;
  }
  .carousel-item {
    max-width: 767px;
    min-height: 476px;
  }
  .carousel_img_1 {
    background: url(../Images/carousel_1.png);
    background-size: cover;
    background-position: center;
  }
  .carousel_img_2 {
    background: url(../Images/carousel_2.png);
    background-size: cover;
    background-position: center;
  }
  .carousel_img_3 {
    background: url(../Images/carousel_3.png);
    background-size: cover;
    background-position: center;
  }
  .carousel-item img {
    display: none;
  }
  .main_product_cards_container {
    display: none;
  }
  .main_product_cards_container_mobi {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  .product_card_mobi {
    position: relative;
  }
  .product_card_mobi h6 {
    position: absolute;
    bottom: 23px;
    left: 30px;
    font-size: 48px;
    color: #555555;
  }
}
@media screen and (min-width: 768px) {
  .main_product_cards_container_mobi {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .main_brand {
    grid-template-columns: 1fr;
  }
  .main_brand_container {
    grid-area: 1/1/2/2;
  }
  .main_brand img {
    justify-self: stretch;
  }
  .main_brand_container {
    padding: 20px 15px 50px;
  }
}
