.background {
    background-color: #f5ece3;
    
}

.productcard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    
}

.cardbody {
    color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 20%;
    line-height: 2;
}

button {
    background-color: #eee4da;
    color: #555555;
    border-radius: 36px;
    border: none;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;
    
}

.btnprice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    font-size: 200%;
    font-weight: 550;
}

.signature {
    display: flex;
}

#ceo {
    font-size: 13px;
    margin-top: -25px;
}


.beforeotherproducts {
    padding: 3%;
    max-width: 30%;
    font-size: 170%;
    line-height: 2;
}

.slider div {
    background-color: #eee4da;
}

.slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    margin-top: 5%; 
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
    padding-bottom: 20px;
}


.nameprice {
    display: flex;
    justify-content: space-between;
    padding: 6%;
}



input {display: none;}

.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    
}

.tabs__title {
    width: 1px;
    flex-grow: 1;
    order: -1;
    color: #555555;
    background-color: #eee4da;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.tabs__text {
    display: none;
    width: 100%;
    flex-grow: 2;
    margin: 0;
    padding: 10px;
    
}

.tabs__tab:checked+.tabs__title {
    color: #000000;
    font-weight: 600;
}

.tabs__tab:checked+.tabs__title+.tabs__text {display: flex;}
.tabs__title:hover {opacity: 0.9;}


.img {
    max-width: 100%;
    
}

.imgsecond {
    justify-self: end;
}