a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
.header_menu a:hover {
  text-decoration: none;
  color: white;
}
* {
  font-family: "Raleway", sans-serif;
}
div.container {
  max-width: 1300px;
}
